.navMenu{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMenu li{
    margin: 0px 20px;
}

.navMenu li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Mobile View  */

.mobileNav{
    list-style: none;
}

.mobileNav li{
    margin-top: 20px;
}

.mobileNav li a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    margin: 5px 5px;
}

.active{
    font-weight: bold !important;
    color: goldenrod !important;
    margin: 5px 5px;
}